* {
    box-sizing: border-box;
}

body {
    p, h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    }
}

.main {
    .card {
        .send {
            background: #25d366;
            color: antiquewhite;
        }
    }
}